<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="docfx" />
			<package pattern="FluentAssertions" />
			<package pattern="Moq" />
			<package pattern="Azure*" />
			<package pattern="Castle.Core" />
			<package pattern="coverlet.collector*" />
			<package pattern="Meziantou.Framework.Win32.CredentialManager" />
			<package pattern="Microsoft*" />
			<package pattern="MSTest.TestAdapter" />
			<package pattern="MSTest.TestFramework" />
			<package pattern="Newtonsoft.Json" />
			<package pattern="PDFsharp" />
			<package pattern="RabbitMQ.Client" />
			<package pattern="runtime*" />
			<package pattern="Serilog*" />
			<package pattern="StrongNamer" />
			<package pattern="System*" />
			<package pattern="Wix" />
			<package pattern="Npgsql" />
			<package pattern="Newtonsoft*" />
			<package pattern="xunit*" />
		</packageSource>
	</packageSourceMapping>
</configuration>